<button type="button" class="btn btn-warning btn-lg">愛媛</button>
<button type="button" class="btn btn-success btn-lg">香川</button>
<button type="button" class="btn btn-info btn-lg">徳島</button>
<button type="button" class="btn btn-primary btn-lg">高知</button>